# ide's
.idea/
.vscode/
.code/
.vs

# CMake and make
*.cmake
*.make
*.deb
Makefile

# C++
CppProperties.json
CMakeCache.txt
**/CMakeFiles

# Project
*.log
*.csv
*.lic
*.tmp

# Jupyter
**/.ipynb_checkpoints/*

# Virtual enviroments
**/.venv/*

# Saved Models
**/saved/*
*.pt

# Python cache
**/__pycache__

# Fetched from https://github.com/github/gitignore/blob/main/C.gitignore

# Prerequisites
*.d

# Python C files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin